.heading{
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: px;
  margin: 0 auto;
  justify-content: space-between;
}
.heading h1{
  animation: fadeIn 4s;
  text-decoration: underline;
  border-radius: 8px;
}
.heading a{
  animation: fadeIn 4s;
  color:black;
  background-color: cyan;
  border-radius: 8px;
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navigation a:hover{
  color: white;
}
@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
