.heading{
  /* padding: 20px; */
  display: flex;
  /* align-items: center; */
  margin: 0 auto;
  justify-content: space-between;
}
.heading h1{
  padding: 20px;
  animation: fadeIn 4s;
  text-decoration: underline;
  /* border-radius: 8px; */
}
.navigation{
  margin-top: 10px;
  padding: 20px;
}
.navigation a{
  animation: fadeIn 4s;
  color:black;
  background-color: cyan;
  border-radius: 8px;
  margin-top: 20px;
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navigation a:hover{
  color: white;
}
.mobile{
  display: none;
  
}
@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
@media screen and (max-width: 680px){
  .heading{
    display: block;
  }
  .heading h1{
    display: none;
  }
  .mobile{
    display: block;
    margin: 25px;
    text-decoration: underline;
  }
  .navigation a{
    font-size: small;
    margin-top: none;
    padding-top: none;
  }
  .navigation{
    padding: 10px;
    margin-top: none;
    padding-top: none;
  }
}